body {
    background: #e0f0f0;
}

div {
    border-radius: 5px;
    height: 5em;
    width: 100%;
    background-color: #00a1ee;
}

#header {
    position: absolute;
    z-index: 1;
    width: 100%;
    font-family:"Futura", sans-serif;
    padding: 0em;
    margin: 0em;
}

h1 {
   font-size: 34px;
   text-transform: capitalize;
   margin-left: 1em;
   padding: 0em;
}

h2 {
    font-family: "futura";
}

h3 {
    font-weight: 500;
    float: right;
}

h4 {
    text-decoration: underline;
}

p {
    font-family:"futura", sans-serif;
}

.left {
    float: left;
    position: relative;
    margin-top: 7em;
    margin-left: 0em;
    width: 40%;
    height: 40%;
    padding: 0em 1em 4em 1em;
}

.right {
    float: right;
    margin-top:7em;
    padding: 0em 1em 4em 1em;
    width:40%;
    height: 40%;
    margin-left: 1em;
    margin-right: 0em;
}

#footer {
    clear: both;
    float: left;
    margin-left: 0em;
    margin-top: 5%;
    position: relative;
    width: 26em;
    padding: 1em;

}

ol{
    margin-left: 2em;
    padding: 0em;
    list-style: none;
}

li {
    float: left;
    font-family:"futura", sans-serif;
    font-size: 10px;
    margin-right: 12px;
    margin-top: 0px;
    margin-left: 0px;
}