li {
	list-style: none;
	font-family: "Lucida Grande", sans-serif;
	color: #666;
	bottom: 0px;

}


/* Top Portion */

.logo_area {
	background-color: #241915;
	background: url(../images/beans.jpg) repeat center;
	color: #fff;
	height: 500px;
	margin-top: 25px;
	margin-bottom: 50px;
	position: relative;
}

.logo {
	background: url(../images/logo.png);
	height: 103px;
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;

	position: absolute;
	width: 271px;

	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

h1 {
	font-family: "Georgia", serif;
	font-weight: normal;
	font-size: 32px;
	line-height: 1;
	color: #261913;
	margin-bottom: 0px;
}



/*intro*/

.we_are {
	text-align: center;
	margin: auto;
}


/* Text Styles */

h2 {
	font-family: "Georgia", serif;
	font-weight: normal;
	font-size: 28px;
	line-height: 1;
	color: #6D3B1C;
	text-align: center;
}

p {
	font-family: "Lucida Grande", sans-serif;
	font-size: 15px;
	line-height: 1.5;
	color: #666;

}

/* Menu */

.menu {
	margin: 0;
	padding: 0;
}

.menu_price {
	font-family: "Lucida Grande", sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #999;
	display: inline-block;
	float: right;
	margin-top: 0px;
	padding-right: 20px;

}

.frame {
	background-color: #f6f6f6;
	padding: 20px 0;
	margin-top: 50px;
	margin-bottom: 50px;

}

.menu li {
	border-bottom: 1px solid #ccc;
	list-style: none;
	font-size: 15px;
	padding: 30px 0;

}

.menu .menu_item_last_mobile {
	border: none;
}


/* INFO */

h3 {
	font-family: "Georgia", serif;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1;
	color: #261913;

}

.directions a {
	font-family: "Lucida Grande", sans-serif;
	font-size: 15px;
	line-height: 1.5;
	color: #603f26;
	display: inline-block;
	border: 3px solid #603f26;
	padding: 10px 20px;
	text-decoration: none;
	width: auto;

}


/* Footer */

footer {

	background: #241915;
	color: #fff;
	font-size: 13px;
	padding: 50px 0;
	text-transform: uppercase;
	margin-top: 20px;
}

footer a {
	color: #fff;
	text-decoration: none;
}

.footer_icon {
	width: 45px;
	height: 45px;

	background: url(../images/icon.png);
	display: block;
	margin: 0 auto 20px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.footer_list {
	font-family: "Lucida Grande", sans-serif;
	font-size: 13px;
	line-height: 1.5;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	margin: 0;
	text-align: center;
	padding-left: 0px;
}

.footer_list_item {
	display: inline-block;
	list-style: none;
	margin: 0;
}

.footer_list_item:before {
	content: '';
	background: #fff;
	display: block;
	float: left;
	margin: 10px 10px 0 5px;
	border-radius: 100%;
	height: 4px;
	width: 4px;
}

.footer_list_item_first:before {
	display: none;

}


.copyright {
	font-family: "Lucida Grande", sans-serif;
	font-size: 13px;
	line-height: 1.5;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;

}


/* Mobile only */
@media screen and (max-width: 739px) {

	.gridlock .logo_row,
	.gridlock .logo_row .logo_area {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		height: 200px;
	}

}

/*Tablet*/
@media screen and (min-width: 740px) {


	.logo_area {
		height:400;
	}

	.menu .menu_item_last_desktop {
		border: none;
	}

	.copyright {
		float: left;
		margin: 0 0 0 20px;
	}

	.footer_list {
		float: right;
	}

	.footer_list_item {
		float: left;
	}

	.footer_icon {
		margin-bottom: -32px;
	}
}

/*Screen*/
@media screen and (min-width: 980px) {

	.logo_area {
		height:500;
	}
}