
body {

	background: #666;
	margin:0px 0px;

}
p {
	font-family: "Helvetica";
	font-size: 14px;
	line-height: 1.8;
	color: #333;
}

h1 {

	font-family: "Georgia", bold;
	font-size: 42px;
	line-height: 1;
	color: #930;
}

h2 {
	font-family: "Georgia", bold;
	font-size: 28px;
	line-height: 1;
	color: #333;
}

h3 {
	font-family: "Georgia", bold;
	font-style: italic;
	font-size: 22px;
	line-height: 1;
	color: #333;
}

h4 {
	font-family: "Georgia", bold;
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	color: #999;
}

li {

	font-family: "Helvetica";
	font-size: 14px;
	line-height: 1.8;
	color: #333;
}

a:link {

	color: #930;
}

blockquote {

	color: #333;
	font-family: "Georgia", italic;
	font-size: 16px;
	line-height: 1.8;
	background: #f6f6f6;
	border-left: 10px solid #e3e3e3;
	padding: 15px;

}

.content {
	background: #fff;
	margin: auto;
	padding: 100px 100px;
	width: 775px;
}

.table {

	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

